<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="review">
  
  <!--user추가  -->
  <select id="reviewList" resultType="com.bit.yes.model.entity.ReviewVo">
  	select * from review
  </select>
  
  <select id="reviewSelect" resultType="com.bit.yes.model.entity.ReviewVo">
  	select * from review where idx=#{val}
  </select>
  
  <delete id="reviewDelete" parameterType="int">
  	delete from review where idx=#{val}
  </delete>
  
  <insert id="reviewWrite" parameterType="com.bit.yes.model.entity.ReviewVo">
  	insert into review (branchID, clientID, title, content, calendar, rating)
  	 values(#{branchID}, #{clientID}, #{title}, #{content}, current_timestamp(), #{rating})
  </insert>
  
  <update id="reviewEdit" parameterType="com.bit.yes.model.entity.ReviewVo">
  	update review set title=#{title}, rating=${rating}, content=#{content} where idx=#{idx}
  </update>
  
  	  <update id="updateInfo" parameterType="com.bit.yes.model.entity.UserVo" >
  	  	update user_info set password=#{password},nickname=#{nickName},email=#{email},phoneNum=#{phoneNum},registNum=#{registNum} where id=#{id}
  	  </update>
  </mapper>
 
