<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="branchList">
  
    <!--user추가  -->
    <insert id="insertBranchInfo" parameterType="Map">
  	    insert into branch_info
  	            values(#{id}, #{branchName}, #{opTime}, #{breakTime}, #{opDate}, #{phoneNum}, 1.0, ' ', #{category}, #{branchExplain}, #{maxTable}, 0, #{acceptState}, 0);
    </insert>
    <insert id="insertBranchAddress" parameterType="Map">
        insert into branch_Address
                values (#{id}, #{zoneCode}, #{roadAddress}, #{jibunAddress}, #{detailAddress}, #{sido}, #{sigungu}, #{bname1}, #{bname2}, '','');
    </insert>
    <insert id="insertBranchMenu" parameterType="Map">
      insert into branch_menu
        values (#{id}, #{menu}, #{price}, #{mainmenu})
    </insert>
    <insert id="insertImageNames" parameterType="Map">
        insert into branch_image
                values (#{id}, #{markerImage}, #{mainImage}, #{image1}, #{image2}, #{image3}, #{image4}, #{image5}, #{image6}, #{image7}, #{image8});
    </insert>
    <!-- -->
    <select id="selectAll" resultType="com.bit.yes.model.entity.BranchVo">
      select * from branch_info a inner join branch_address b on a.id = b.id inner join branch_image c on a.id = c.id;
    </select>
    <select id="menuLoad" parameterType="string" resultType="com.bit.yes.model.entity.BranchVo">
      select * from branch_menu where id like #{branchID} and mainMenu like 'true'
    </select>
    <select id="allMenuLoad" parameterType="string" resultType="com.bit.yes.model.entity.BranchVo">
      select * from branch_menu where id = #{branchID}
    </select>
    <select id="searchResult" parameterType="Map" resultType="com.bit.yes.model.entity.BranchVo">
      select * from branch_info a inner join branch_address b on a.id = b.id inner join branch_image c on a.id = c.id
      <choose>
        <when test="searchSelect.equals('searchRocate')">
          where roadAddress like concat('%',#{searchInput},'%')
        </when>
        <when test="searchSelect.equals('searchName')">
          where branchname like concat('%',#{searchInput},'%')
        </when>
        <when test="searchSelect.equals('searchMenu')">
          inner join branch_menu d on a.id = d.id where menu like concat('%',#{searchInput},'%')
        </when>
      </choose>
    </select>
    <update id="updateLatLng" parameterType="Map">
      update branch_address set latlngY = #{latlngY}, latlngX = #{latlngX} where id = #{id};
    </update>
  <select id="reserveInfoPreview" parameterType="string" resultType="com.bit.yes.model.entity.BranchVo">
    select opTime, breakTime from branch_info where id = #{id}
  </select>

  </mapper>
