/.metadata/
/.metadata/
/.recommenders/
/yesProject/.idea
/yesProject/.classpath
/yesProject/.project
/yesProject/.settings
/yesProject/.springBeans
/yesProject/out
/yesProject/bin
/yesProject/target
/yesProject/out
/yesProject/RemoteSystemsTempFiles
/yesProject/src/main/webapp/WEB-INF/classes
/RemoteSystemsTempFiles
/Servers