/.metadata/
/.metadata/
/.recommenders/
/yesProject/.idea
/yesProject/.classpath
/yesProject/.project
/yesProject/.settings
/yesProject/.springBeans
/yesProject/out
/yesProject/target
yesProject/src/main/webapp/WEB-INF
