#calendar{
	margin: auto;
    text-align: center;
    width: 300px;
    height: 270px;
}
#calendar .clndr-table{
	margin: auto;
	border: 1px solid black;
    width: 100%;
    height: 200px;
}
#calendar .clndr-controls{
	height: 40px;
	line-height: 3;
}
#calendar .clndr-control-button{
	display: inline-block;
	float: left;
}
#calendar .month{
	display: inline-block;
}
#calendar .rightalign{
	display: inline-block;
	float: right;
}
#calendar .header-days{
	color: white;
	background-color: #e04f5f;
}
#calendar .calendar-dow-6{
	color: cornflowerblue;
}
#calendar .calendar-dow-0{
	color: darkred;
}
#calendar .adjacent-month{
	color: darkgray;
}
.reserveTimeDiv{
	width: 300px;
	height: 40px;
	margin: auto;
}
.reserveTimeSelect{
	display: inline-block;
	width: 230px;
	height: 40px;
	float: right;
}
.reservePersonel{
	display: inline-block;
	width: 70px;
	float: left;
	height: 40px;
}
.timeSelect{
	width: 100%;
    border: none;
    background: #ebebeb;
}
.reservePersonelInput{
	width: 30px;
	height: 100%;
	border: none;
	border-bottom: 2px solid gray;
	background-color: white;
}
.timeSelect{
	height: 100%;
}
.resultTimeDiv{
    text-align: center;
    font-size: 12px;
}
.reserveRequest{
	width: 300px;
	height: 50px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}
.reserveRequestInput{
	width: 100%;
	height: 100%;
	border: 1px dashed #e04f5f;
}
.reserveBtn{
	width: 350px;
    top: 60px;
    height: 40px;
    margin: auto;
}