
.modalContent div input{
    	border: none;
        border-bottom: 2px solid lightgray;
        background-color: RGBA(255,255,255,0.3);
        font-size: 16px;
    }
.modalStep2tr>div{
    text-align: center;
    display: inline-block;
}
.modalContentDiv>div{
    text-align: right;
}
.modalContent{
    height: 400px;
}
.modalContent *{
    font-family: 'Malgun Gothic', sans-serif;
}
.modalContentDiv{
    width: 100%;
    height: 40px;
}
.modalContentDiv>div{
    display: inline-block;
}
.modalContentAttr{
    width: 150px;
}
.modalSecondAttr{
    width: 73px;
    text-align: right;
}
.detailModalTopCategory{
    text-align: right;
    color: white;
    font-size: 20px;
}
#id{width: 450px; height: 30px;}
#state{width: 450px; height: 30px;}
#branchName{width: 180px; height: 30px;}
#category{width: 190px; height: 30px;}
#opTime{width: 180px; height: 30px;}
#breakTime{width: 190px; height: 30px;}
#opDate{width: 450px; height: 30px;}
#branchExplain{width: 450px; height: 30px;}
#zoneCode{width: 180px; height: 30px;}
#jibunAddress{width: 190px; height: 30px;}
#address{width: 450px; height: 30px;}
#addressDetail{width: 450px; height: 30px;}

.modalStep2tr:first-child{
    margin-top: 25px;
}
.modalStep2tr{
    margin: auto;
    height: 35px;
    padding: 5px;
    width: 500px;
}
.modalStep2tr:first-child{
    border-bottom: 2px dashed #e04f5f;
}
.modalStep2tr input[type=text]{
    width: 90%;
    text-align: right;
}
.modalStep2nth1{width: 50px;}
.modalStep2nth2{width: 100px;}
.modalStep2nth3{width: 110px;}
.modalStep2nth4{width: 180px;}
.fileFormTr{height: 60px;}
.fileFormTr>div{display: inline-block;}
.modalContent{overflow-y: scroll;}
.fileFormTr{text-align: center; margin-top: 10px;}
.fileFormTr>div>input{border: none;}
.fileFormTr>div>img{border: 2px solid white;}
.fileFormTr{border-bottom: 2px solid gray;margin-left: 100px; margin-right: 100px;}
.markerImageListDiv{text-align: center; overflow-y: scroll;}
.markerImageListDiv>img{margin: 5px;}
#slide *{ font-family: 'Jua', sans-serif;}
#slide{
		float:right;
		border:1px solid #e04f5f;
		width:250px;
		height: 100%;
		background-color:white;
		display: none ;
		z-index: 30;
		position:absolute;
		right:0;
		overflow-y:hidden;

}

#slide h1 {
	margin: 60px 0px;
	text-align:center;
}

#slide a {
	color: black;
	margin-bottom: 40px;
	font-size:27px;
	padding-left:18px;
}

#slide-menu {
	width: 100%;
	overflow:hidden;
}

#slide-menu li {
	list-style: none;
	margin-left: 0px;
	}

#slide-menu2 , #slide-menu4{
	border-top: 1px solid #e04f5f;
	width: 100%;
	height: 100px;
	margin: 10px auto;
}

#slide-menu3 {
	border-top: 1px solid #e04f5f;
	width: 100%;
	margin-bottom: 20px;
	height: 200px;
}

#slide-menu4 h2,#slide-menu2 h2{
	margin-left:20px;
}



.joinForm{
height: 500px; max-height: 500px; max-width: 640px; width: 640px; margin: auto; overflow: visible; border-radius: 10px; padding: 0px;}

.detailModalTop{width: 640px;
height: 100px;
border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 background-color: #e04f5f;
 float:left;
 color:white;
 
 }
 
 .joinForm h3{
 	margin-top:5px;
 	
 }
 #radioGroup{
 	    width: 25%;

    margin: 30px auto;
 }
 .joinTitle{
 font-family: 'Jua', sans-serif;
 font-size: 40px; color: white; width: 310px; height: 100%; padding-left: 10px; line-height: 100px; display: inline-block; float: left;}


 #joinT{
 	overflow-y:scroll;
 	overflow-x: hidden;
    margin-left: 30px;
    margin-top: 30px;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 90%;
 }

.choice{
	width:300px;
	margin:0px auto;
}

.step1{

	width: 640px;
    height: 400px;
    display: inline-block;

}


.step2{
	width:640px;
	height:400px;
	display:none;
	overflow-y:auto;
}

#loginForm{
	width:640px;
	height:400px;
	margin-top:100px;
}
.form-horizontal{
    width: 500px;
    height: 400px;
    margin: 30px auto;
}

.modal a .close-modal {top: 12px;right: 12px;
background-image: url("./imgs/cancel.png");
}

			input.error, textarea.error

			{
			        border: 1px solid red
			}

			label.error
			
			{
			        display:block;
			        color:red;
			        margin: 0px;
			        height:5px;
			}

#footerLogin{
	width: 260px;
    margin: 0px auto;
}	

#footerLogin a{
	margin-left:10px;
}

#login-findID {
	width: 640px;
	display:none;
}
