
.modalContent div input{
    	border: none;
        border-bottom: 2px solid lightgray;
        background-color: RGBA(255,255,255,0.3);
        font-size: 16px;
    }
.modalStep2tr>div{
    text-align: center;
    display: inline-block;
}
.modalContentDiv>div{
    text-align: right;
}
.modalContent{
    height: 400px;
}
.modalContent *{
    font-family: 'Malgun Gothic', sans-serif;
}
.modalContentDiv{
    width: 100%;
    height: 40px;
}
.modalContentDiv>div{
    display: inline-block;
}
.modalContentAttr{
    width: 150px;
}
.modalSecondAttr{
    width: 73px;
    text-align: right;
}
.detailModalTopCategory{
    text-align: right;
    color: white;
    font-size: 20px;
}
#id{width: 450px; height: 30px;}
#state{width: 450px; height: 30px;}
#branchName{width: 180px; height: 30px;}
#category{width: 190px; height: 30px;}
#opTime{width: 180px; height: 30px;}
#breakTime{width: 190px; height: 30px;}
#opDate{width: 450px; height: 30px;}
#branchExplain{width: 450px; height: 30px;}
#zoneCode{width: 180px; height: 30px;}
#jibunAddress{width: 190px; height: 30px;}
#address{width: 450px; height: 30px;}
#addressDetail{width: 450px; height: 30px;}

.modalStep2tr:first-child{
    margin-top: 25px;
}
.modalStep2tr{
    margin: auto;
    height: 35px;
    padding: 5px;
    width: 500px;
}
.modalStep2tr:first-child{
    border-bottom: 2px dashed #e04f5f;
}
.modalStep2tr input[type=text]{
    width: 90%;
    text-align: right;
}
.modalStep2nth1{width: 50px;}
.modalStep2nth2{width: 100px;}
.modalStep2nth3{width: 110px;}
.modalStep2nth4{width: 180px;}
.fileFormTr{height: 60px;}
.fileFormTr>div{display: inline-block;}
.modalContent{overflow-y: scroll;}
.fileFormTr{text-align: center; margin-top: 10px;}
.fileFormTr>div>input{border: none;}
.fileFormTr>div>img{border: 2px solid white;}
.fileFormTr{border-bottom: 2px solid gray;margin-left: 100px; margin-right: 100px;}
.markerImageListDiv{text-align: center; overflow-y: scroll;}
.markerImageListDiv>img{margin: 5px;}