@font-face {font-family: 'BareunBatang';font-style: normal;font-weight: 400;src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');}
@font-face {font-family: 'BareunBatang';font-style: normal;font-weight: 700;src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFB.woff') format('woff');}
@font-face {font-family: 'BareunBatang';font-style: normal;font-weight: 300;src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFL.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFL.woff') format('woff');}
.modal a.close-modal {top: 12px;right: 12px;background-image: url("../imgs/cancel.png");}
.mfp-no-margins img.mfp-img {padding: 0;}
.mfp-no-margins .mfp-figure:after {top: 0;bottom: 0;}
.mfp-no-margins .mfp-container {padding: 0;}
.popup-gallery a img{border: 2px solid gray;border-radius: 3px;margin-bottom: 5px;}
*, body{font-weight: 900;}
/* body{overflow-x: hidden;overflow-y: scroll !important;} */
nav a{font-family: 'Jua', sans-serif;}
.searchText{font-family: 'Do Hyeon', sans-serif;font-size: 30px;}
.navbar-default{height: 80px;}
#searchIcon1 {-moz-transition: transform 1s;-webkit-transition: transform 1s;transition: transform 1s;}
#footerImg {-moz-transition: transform 1s;-webkit-transition: transform 1s;transition: transform 1s;}
.flip {transform: rotate(-180deg);}
html,body {height:100%; margin:0; padding:0;overflow-y: hidden; overflow-x: hidden;}
.searchRe{font-size: 16px;font-weight: bold;}
.navbar-default .navbar-nav>li>a{color: white;}
.page{width:100%; height: 100%;}
@media (min-width: 1111px) {
    .container-fluid{background-color: #e04f5f;height: 100px;}
    .navbar-collapse{padding-top: 40px;padding-left: 360px;font-size: 20px;}
    li > a{color: white;margin-right: 50px;font-size: 30px;}
    .menuBtnToggle{color: white;font-size: 30px;}
    .navbar-right>li>a{font-size: 20px;margin-right: 0px;color: white;}
    #bs-example-navbar-collapse-1 a{text-decoration: none;text-decoration-color: white;}
    #dropdown a{color: black;font-size: 16px;}
    .dropdown-toggle{color: black;background-color: #e04f5f;}
    .navbar-default .navbar-nav>.open>a {background-image: linear-gradient(to bottom,#e04f5f 0,#e04f5f 100%);}
}
@media (max-width: 1110px) {
    li > a{font-size: 20px;}
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);margin-top: 48px;float: left;}
    .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important;margin-top: 7.5px;}
    .navbar-nav>li {float: none;background-color: white;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .collapse.in{display:block !important;}
    .container-fluid{background-color: #e04f5f;height: 100px;}
    .navbar-collapse a{text-decoration: none;color: black;}
    #dropdown a{font-size: 15px;}
    #bs-example-navbar-collapse-1{width: 100%;}
    #bs-example-navbar-collapse-1 a{display: block;clear: both;}
    #bs-example-navbar-collapse-1>ul>li{display: block;clear: both;}
    .navbar-default .navbar-nav>.open>a{background-image: none;}
    .navbar-default .navbar-nav>li>a{color: white;}
}
#map{width:100%;height:100%;margin-top: 0px; z-index: 1; position: relative;}
.container-fluid{border: 1px #ebebeb solid;}
#searchIcon1{position: absolute; z-index: 3; width: 40px; height: 40px; margin-left: 85px; margin-top: 35px;}
#searchBox{position: absolute; z-index: 2; width: 85%; height: 20%; background-color: white; margin:60px 7.5%; border: 3px #e04f5f dashed; opacity: 0.85;}
.searchTable{width: 100%; height: 100%; text-align: center;}
.searchLocal{width: 10%; line-height: 50px; padding: 0px;}
.searchSel{width: 18%;}
.searchMenu{width: 10%;}
.searchSelLink{padding-top: 4px;}
.localText{width: 18%; line-height: 10px;}
.menuText{width: 18%; line-height: 10px; text-align: left;}
.searchText{float: right;}
.form-control{width: 90%;}
.tdInput{width: 18%; text-align: center; padding: 10px;}
.tdBtn{width: 18%; text-align: left;}
.results{width: 100%; height: 126px;}
#searchResult{background-color: white; display: inline-block; width: 100%; height: 100%; overflow-y: scroll;}
.searchMainImage{display: inline-block; float: left; width: 35%; height: 100%; text-align: center;}
.searchImageFile{margin: 5px 7px;}
.searchResultContent{display: inline-block; width: 100%; height: 100%;}
.searchResultContentTitle{width: 100%; height: 30px; text-align: center; font-size: 18px; font-weight: bold; background-color: rgba(224, 79, 95, 0.2);}
.searchResultContentDetail{font-size: 11px;}

/* ¿Ã«œ detail modal¿« style */


.modal{height: 500px; max-height: 500px; max-width: 640px; width: 640px; margin: auto; overflow: visible; border-radius: 10px; padding: 0px;}
.modal2{height: 200px; max-height: 200px; max-width: 305px; width: 350px; margin: auto; overflow: visible; border-radius: 10px; padding: 0px;}
.detailModalTop{width: 640px; height: 100px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #e04f5f;}
.detailModalTopTitle{font-size: 40px; color: white; width: 310px; height: 100%; padding-left: 10px; line-height: 100px; display: inline-block; float: left;}
.detailModalTopCategory{width: 310px; display: inline-block; height: 100%; line-height: 160px;}
.categorySpan{font-size: 14px; color: white; float: right; margin-right: 0px;}
.detailModalLeft{display: inline-block; width: 260px; float: left; height: 400px; border-bottom-left-radius: 10px;}
.detailModalLeftImg{width: 100%; display: inline-block; height: 65%;}
.popup-gallery{width: 100%; height: 90%; margin: 0px auto; border: 3px dashed beige; margin-top: 15px; position: relative;}
.gallerymain{width: 100%; height: auto; position: absolute; top: 0; bottom: 0px; margin: auto;}
.popup-gallery2{width: 100%; height: 35%; padding-left: 5px; padding-top: 5px; margin: auto; border: none;}
.detailModalRight{display: inline-block; width: 380px; float: right; height: 400px;font-size: 14px; padding: 10px; padding-top: 50px; border-bottom-right-radius: 10px;}
.modalStatusDiv{top: 100px; width: 640px; height: 50px; left: 0; line-height: 40px; padding-right: 20px; position: absolute; text-align: right; font-size: 21px; border-top: 5px dashed #e04f5f; font-family: 'Do Hyeon', sans-serif;}
.modalScore{width: 120px; display: inline-block; font-weight: bold;}
.modalJibunAddress{text-align: right; font-size: 10px; color: gray;}
.modalStatus, .modalAddressDiv, .modalPhoneNumDiv, .modalOpTimeDiv, .modalBreakTimeDiv, .modalOpDayDiv{display: inline-block; width: 60px;}
.modalAddress, .modalPhoneNum, .modalOpTime, .modalBreakTime, .modalOpDay{display: inline-block;}
.modalOpDayBox{border-bottom: 1px gray dashed; margin-bottom: 10px; padding-bottom: 5px;}
.modalMenuBox{width: 100%; height: 100px; font-size: 12px; padding-left: 28px; border-bottom: 1px dashed gray;}
.modalMenuBoxLeft{display: inline-block; width: 50%; margin: 0px; float: left; height: 100%;}
.modalMenuBoxRight{width: 50%; height: 100%; margin: 0px; display: inline-block;}
.modalLeftMenu, .modalRightMenu{width: 100%; height: 25%;}
.modalMenuName0, .modalMenuName1, .modalMenuName2, .modalMenuName3, .modalMenuName4, .modalMenuName5, .modalMenuName6, .modalMenuName7{width: 60%; float: left; height: 100%; display: inline-block;}
.modalMenuPrice0, .modalMenuPrice1, .modalMenuPrice2, .modalMenuPrice3, .modalMenuPrice4, .modalMenuPrice5, .modalMenuPrice6, .modalMenuPrice7{width: 40%; float: right; height: 100%; display: inline-block;}
.modalExplain{width: 100%; height: 40px; font-size:18px; font-weight: bold; line-height: 50px; text-align: center; font-style: oblique;}
.modalBbs{height: 65px; width: 100%; font-size: 12px; margin-top: 10px;}
.modalBbsMore{height: 15px; position: absolute; text-align: right; color: darkgray; top: 413px; right: 10px;}
.modalBbsTitle{width: 100%; height: 18px; border-bottom: 1px solid gray;background-color: #e04f5f; color: white;}
.modalBbsTitleSub{width: 60%; display: inline-block; float: left; padding-left: 5px;}
.modalBbsTitleDate{width: 20%; text-align: center; display: inline-block;}
.modalBbsTitleWriter{width: 20%; text-align: center; display: inline-block; float: right;}
.modalBbsList{width: 100%; height: 16px; margin-top: 3px;}
.modalBbsListSub{float: left; display: inline-block; width: 60%;}
.modalBbsListDate{display: inline-block; width: 20%;}
.modalBbsListName{display: inline-block; width: 20%; float: right; text-align: center;}
.modalTopSpan{
    font-size: 40px;
    line-height: 100px;
    margin-left: 20px;
}
.modalContent{
    display: inline-block;
}
