*{font-family: 'Nanum Gothic', sans-serif;}
nav a{font-family: 'Jua', sans-serif;}
.searchText{font-family: 'Do Hyeon', sans-serif;font-size: 30px;}
.navbar-default{height: 80px;}
#searchIcon1 {-moz-transition: transform 1s;-webkit-transition: transform 1s;transition: transform 1s;}
#footerImg {-moz-transition: transform 1s;-webkit-transition: transform 1s;transition: transform 1s;}
.flip {transform: rotate(-180deg);}
html,body {height:100%; margin:0; padding:0;overflow-y: hidden; overflow-x: hidden;}
.searchRe{font-size: 16px;font-weight: bold;}
.navbar-default .navbar-nav>li>a{color: white;}
.page{width:100%; height: 100%;}
@media (min-width: 1111px) {
    .container-fluid{background-color: #e04f5f;height: 120px;}
    .navbar-collapse{padding-top: 40px;padding-left: 360px;font-size: 20px;}
    li > a{color: white;margin-right: 50px;font-size: 30px;}
    .menuBtnToggle{color: white;font-size: 30px;}
    .navbar-right>li>a{font-size: 20px;margin-right: 0px;color: white;}
    #bs-example-navbar-collapse-1 a{text-decoration: none;text-decoration-color: white;}
    #dropdown a{color: black;font-size: 16px;}
    .dropdown-toggle{color: black;background-color: #e04f5f;}
    .navbar-default .navbar-nav>.open>a {background-image: linear-gradient(to bottom,#e04f5f 0,#e04f5f 100%);}
    
}
@media (max-width: 1110px) {
    li > a{font-size: 20px;}
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);margin-top: 48px;float: left;}
    .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important;margin-top: 7.5px;}
    .navbar-nav>li {float: none;background-color: white;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .collapse.in{display:block !important;}
    .container-fluid{background-color: #e04f5f;height: 100px;}
    .navbar-collapse a{text-decoration: none;color: black;}
    #dropdown a{font-size: 15px;}
    #bs-example-navbar-collapse-1{width: 100%;}
    #bs-example-navbar-collapse-1 a{display: block;clear: both;}
    #bs-example-navbar-collapse-1>ul>li{display: block;clear: both;}
    .navbar-default .navbar-nav>.open>a{background-image: none;}
    .navbar-default .navbar-nav>li>a{color: white;}
}
#map{width:100%;height:100%;margin-top: 0px; z-index: 1; position: relative;}
.container-fluid{border: 1px #ebebeb solid;}
#searchIcon1{position: absolute; z-index: 3; width: 40px; height: 40px; margin-left: 85px; margin-top: 35px;}
#searchBox{position: absolute; z-index: 2; width: 85%; height: 20%; background-color: white; margin:60px 7.5%; border: 3px #e04f5f dashed; opacity: 0.85;}
.searchTable{width: 100%; height: 100%; text-align: center;}
.searchLocal{width: 10%; line-height: 50px; padding: 0px;}
.searchSel{width: 18%;}
.searchMenu{width: 10%;}
.searchSelLink{padding-top: 4px;}
.localText{width: 18%; line-height: 10px;}
.menuText{width: 18%; line-height: 10px; text-align: left;}
.searchText{float: right;}
.form-control{width: 90%;}
.tdInput{width: 18%; text-align: center; padding: 10px;}
.tdBtn{width: 18%; text-align: left;}
#footerDivOpen{position: absolute; z-index: 2; bottom: 0; width: 100%; height: 120px; text-align: center;}
.footerDivBlank{width: 100%; background-color: rgba( 255, 255, 255, 0.0 ); height: 20px;}
#footerImg{display: inline-block; z-index: 3; line-height: 30px; margin: 0px auto; position: absolute; width: 35px; height: 35px; margin-top: 20px;}
<<<<<<< HEAD
.footerDivCopy{vertical-align: bottom; background-color: white; bottom: 0px; margin-top: 20px; height: 80px; border-top: 2px solid #e04f5f;}
.results{width: 100%; height: 126px;}
#searchResult{background-color: white; display: inline-block; width: 100%; height: 100%; overflow-y: scroll;}
.searchMainImage{display: inline-block; float: left; width: 35%; height: 100%; text-align: center;}
.searchImageFile{margin: 5px 7px;}
.searchResultContent{display: inline-block; width: 100%; height: 100%;}
.searchResultContentTitle{width: 100%; height: 30px; text-align: center; font-size: 18px; font-weight: bold; background-color: rgba(224, 79, 95, 0.2);}
.searchResultContentDetail{font-size: 11px;}

=======
.footerDivCopy{vertical-align: bottom; background-color: white; bottom: 0px; margin-top: 20px; height: 80px; border-top: 2px solid #e04f5f;}
>>>>>>> master
