html, body {width:100%;height:100%;margin:0;padding:0;} 
.map_wrap {position:relative;overflow:hidden;width:100%;height:350px;}
.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_typecontrol {position:absolute;top:110px;right:10px;overflow:visible;height:30px;margin:0;padding:0;z-index:4; font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;cursor:pointer;line-height: 12px;
    font-size: 12px;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);line-height: 30px;}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.custom_zoomcontrol {position:absolute;top:150px;right:10px;width:36px;height:80px;overflow:hidden;z-index:4;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;margin-top: 12px; margin-right: 1px; border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;} 

/* 이하 커스텀 오버레이 스타일*/
.wrap {position: absolute;left: 0;bottom: 60px;width: 288px;height: 400px;margin-left: -20px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 390px;border-radius: 5px;border: 1px solid #ccc; overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {height: 30px;background: #ffadb6;border-bottom: 1px solid #ddd;font-size: 16px;}
.title>p{margin-left: 5px; line-height: 30px; font-size: 16px;font-weight: bold;}
.info .close {position: absolute;top: 7px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .popupBody {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 10px 0 0 10px;height: 275px;}
.desc .ellipsis {overflow: hidden; margin-left: 100px; width: 160px;}
.desc .jibun {font-size: 11px;color: #888;margin-top: 2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 100px;height: 100px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 10%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
.info{color: black;}
.popupBody {width: 280px; height: 350px;}
.time {margin-left: 0px;}
.address {width: 100%; height: 55px; text-overflow: ellipsis; white-space: pre-line;}
.phone{font-weight: bold;}
.timeDiv{margin-top: -10px;}
.timeDiv>div{display: inline-block;}
.dayDiv>div{display: inline-block;}
.breakDiv>div{display: inline-block;}
.gradeDiv>div{display: inline-block;}
.gradeDiv{line-height: 0;}
.restDiv{height: 100px;}
.restDiv1{font-size: 16px;}
.restDiv2{white-space: pre-line;}
.restDiv2>div{display: inline-block;}
.restDiv2_1, .restDiv3_1, .restDiv3_3, .restDiv4_1, .restDiv4_3 .restDiv2_3{width: 20%;}
.restDiv2_1, .restDiv3_1, .restDiv4_1{text-align: right; margin-right: 3px; white-space: nowrap;}
.restDiv2_3, .restDiv3_3, .restDiv4_3{text-align: right;}
.restDiv2_2, .restDiv3_2, .restDiv4_2{width: 56%; margin-bottom: 3px;}
.gradeDiv1{width: 30%;font-size: 16px;}
.gradeDiv2{width: 40%; font-weight: bold;font-size: 23px; margin-left: 10px;}
.gradeDiv3{width: 25%;}
.timeDiv1,.dayDiv1,.breakDiv1,gradeDiv1{width: 20%; text-align: center;}
.desc{color: black;}
.btnDiv{margin-top: 10px;}
.angryEmoji{width: 60px;}
/* Gradient buttons */
.btn-gradient {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.red{ 
    font-size: 14px;
    font-weight: bold;
    width: 49%;
    height: 45px;
    color: white;
    float: right;
    text-align: center;
    background: rgba(250,90,90,1);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
    background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
    background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
    background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
    background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.btn-gradient.gray{ 
    color: black;
    float: left;
    font-size: 14px;
    width: 49%;
    height: 45px;
    font-weight: bold;
    text-align: center;
    background: rgba(250,90,90,1);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(227,227,227,1)), to(rgba(208,208,208,1)));
    background: -webkit-linear-gradient(rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%);
    background: -moz-linear-gradient(rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%);
    background: -o-linear-gradient(rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%);
    background: linear-gradient(rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d0d0d0', GradientType=0 );
}
.btn-gradient.red:active      {background: #E35252;}
.btn-gradient.gray:active      {background: #cbcbcb;}
