<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="yes">
  <resultMap id="NoticeVo" type="com.bit.yes.model.entity.NoticeVo">
	<result property="index" column="INDEX"/>
	<result property="title" column="TITLE"/>
	<result property="content" column="CONTENT"/>
	<result property="writer" column="WRITER"/>
	<result property="calendar" column="CALENDAR"/>
</resultMap>
  <resultMap id="C_CsVo" type="com.bit.yes.model.entity.C_CsVo">
	<result property="index" column="INDEX"/>
	<result property="title" column="TITLE"/>
	<result property="content" column="CONTENT"/>
	<result property="writer" column="WRITER"/>
	<result property="calendar" column="CALENDAR"/>
	<result property="comment" column="COMMENT"/>
</resultMap>
  <resultMap id="S_CsVo" type="com.bit.yes.model.entity.S_CsVo">
	<result property="index" column="INDEX"/>
	<result property="title" column="TITLE"/>
	<result property="content" column="CONTENT"/>
	<result property="writer" column="WRITER"/>
	<result property="calendar" column="CALENDAR"/>
	<result property="comment" column="COMMENT"/>
</resultMap>

	
	<!-- 공지사항 쿼리문 -->
	<select id="selectAll" resultType="com.bit.yes.model.entity.NoticeVo">
	  		SELECT * FROM NOTICE ORDER BY NOTICE.INDEX DESC
	  	
	</select>
  	
  	<select id="selectOne" resultType="com.bit.yes.model.entity.NoticeVo">
  			SELECT * FROM NOTICE WHERE NOTICE.INDEX = #{index}
  	</select>
  	
  	<insert id="insertOne" parameterType="com.bit.yes.model.entity.NoticeVo">
  			INSERT INTO NOTICE VALUES (#{index}, #{title}, #{content}, #{writer}, date_format(now(),"%Y-%c-%d"))
  	</insert>
  	
  	<delete id="deleteOne" parameterType="int">
  			DELETE NOTICE, NOTICE_IMAGES FROM NOTICE INNER JOIN NOTICE_IMAGES WHERE notice.index=notice_IMAGES.index AND notice_IMAGES.index=#{value};
  	</delete>

  	<delete id="updatedelete" parameterType="int">
  			DELETE FROM mydb.notice_images WHERE notice_images.index=#{index};
  	</delete>

  	<insert id="updateimg" parameterType="com.bit.yes.model.entity.ImageVo">
  			insert into NOTICE_IMAGES values(#{index}, #{imageName})
  	</insert>
  	
  	<update id="updateOne" parameterType="com.bit.yes.model.entity.NoticeVo">
  			UPDATE NOTICE SET TITLE=#{title}, CONTENT=#{content} WHERE notice.index = #{index}
  	</update>
  
  	<!-- 페이징 처리 -->
  	<!-- 전체 레코드 개수 조회 -->
	  	<select id ="writeGetCount" resultType="int">
	  		select count(*) from mydb.notice
	  	</select>
	<!-- 게시글 조회를 위한 쿼리 (값을 받아와서 해당 하단 페이지 버튼의 레코드 출력) -->  	
  		<select id="writeList" parameterType="hashmap" resultMap="NoticeVo">
  			select * from mydb.notice order by notice.index DESC limit #{offset}, #{noOfRecords}
  		</select>
  		
  		<select id ="writeInfoList" resultMap = "NoticeVo">
  			select * from mydb.notice where info = 1 order by notice.index DESC
  		</select>
  		
  		
  		
  		
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  -->  		
	<!-- 고객 상담 쿼리문 -->
	<select id="c_selectAll" resultType="com.bit.yes.model.entity.C_CsVo">
	  		SELECT * FROM client_Counsel ORDER BY client_Counsel.INDEX DESC
	  	
	</select>
  	
  	<select id="c_selectOne" resultType="com.bit.yes.model.entity.C_CsVo">
  			SELECT * FROM client_Counsel WHERE client_Counsel.INDEX = #{index}
  	</select>
  	
  	<select id="c_selectnickname" resultType="com.bit.yes.model.entity.UserVo">
  			SELECT * FROM user_info where id = #{id} 
  	</select>
  	<insert id="c_insertOne" parameterType="com.bit.yes.model.entity.C_CsVo">
  			INSERT INTO client_Counsel VALUES (#{branchID},#{clientID},#{index}, #{title}, #{content}, #{writer}, date_format(now(),"%Y-%c-%d"),null)
  	</insert>
  
  	<!-- 페이징 처리 -->
  	<!-- 전체 레코드 개수 조회 -->
	  	<select id ="c_writeGetCount" resultType="int">
	  		select count(*) from mydb.client_Counsel where clientID = #{clientID}
	  	</select>
	<!-- 게시글 조회를 위한 쿼리 (값을 받아와서 해당 하단 페이지 버튼의 레코드 출력) -->  	
  		<select id="c_writeList" parameterType="hashmap" resultMap="C_CsVo">
  			select * from mydb.client_Counsel where clientID=#{clientID} order by client_Counsel.index DESC limit #{offset}, #{noOfRecords}
  		</select>
  		
  		<select id ="c_writeInfoList" resultMap = "C_CsVo">
  			select * from mydb.client_Counsel where info = 1 order by client_Counsel.index DESC
  		</select>
  		
  		<select id="reserveselectAll" resultType="com.bit.yes.model.entity.branch_infoVo" >
  			SELECT * FROM mydb.branch_info WHERE id = ANY(SELECT branchID FROM mydb.reserve_list WHERE clientID = #{id})
  		</select>
  		
  		<select id="reserveOne" resultType="com.bit.yes.model.entity.branch_infoVo" parameterType="java.lang.String">
  			select * from mydb.branch_info where id = #{id}
  		</select>
  		
  		
  		
  		
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  -->  		
	<!-- 사업자 상담 쿼리문 -->
  	<select id="s_selectOne" resultType="com.bit.yes.model.entity.S_CsVo">
  			SELECT * FROM branch_Counsel WHERE branch_Counsel.INDEX = #{index}
  	</select>
  	
  	<insert id="s_insertOne" parameterType="com.bit.yes.model.entity.S_CsVo">
  			INSERT INTO branch_Counsel VALUES (#{index}, #{title}, #{content}, #{writer}, date_format(now(),"%Y-%c-%d"),null,#{questionSelect} )
  	</insert>
  	<select id="s_selectnickname" resultType="com.bit.yes.model.entity.UserVo">
  			SELECT * FROM user_info where id = #{id} 
  	</select>
  	<!-- 페이징 처리 -->
  	<!-- 전체 레코드 개수 조회 -->
	  	<select id ="s_writeGetCount" resultType="int">
	  		select count(*) from mydb.branch_Counsel where writer = #{writer}
	  	</select>
	<!-- 게시글 조회를 위한 쿼리 (값을 받아와서 해당 하단 페이지 버튼의 레코드 출력) -->  	
  		<select id="s_writeList" parameterType="hashmap" resultMap="S_CsVo">
  			select * from mydb.branch_Counsel where writer=#{writer} order by branch_Counsel.index DESC limit #{offset}, #{noOfRecords}
  		</select>
  		
  		<select id ="s_writeInfoList" resultMap = "S_CsVo">
  			select * from mydb.branch_Counsel where info = 1 order by branch_Counsel.index DESC
  		</select>
  		
  		
  		
  		
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  -->  		
	<!-- 관리자 상담 답변  쿼리문 -->
	<select id="ac_selectAll" resultType="com.bit.yes.model.entity.C_CsVo">
	  		SELECT * FROM client_Counsel ORDER BY client_Counsel.INDEX DESC
	  	
	</select>
  	
  	<select id="ac_selectOne" resultType="com.bit.yes.model.entity.C_CsVo">
  			SELECT * FROM client_Counsel WHERE client_Counsel.INDEX = #{index}
  	</select>
  	
  	<select id="ac_selectnickname" resultType="com.bit.yes.model.entity.UserVo">
  			SELECT * FROM user_info where id = #{id} 
  	</select>
  	
  	<update id="acupdateOne" parameterType="com.bit.yes.model.entity.C_CsVo">
  			UPDATE client_counsel SET COMMENT = #{comment} WHERE client_counsel.index = #{index}
  	</update>

  	<!-- 페이징 처리 -->
  	<!-- 전체 레코드 개수 조회 -->
	  	<select id ="ac_writeGetCount" resultType="int">
	  		select count(*) from mydb.client_Counsel
	  	</select>
	<!-- 게시글 조회를 위한 쿼리 (값을 받아와서 해당 하단 페이지 버튼의 레코드 출력) -->  	
  		<select id="ac_writeList" parameterType="hashmap" resultMap="C_CsVo">
  			select * from mydb.client_Counsel order by client_Counsel.index DESC limit #{coffset}, #{cnoOfRecords}
  		</select>
  		
  		<select id ="ac_writeInfoList" resultMap = "C_CsVo">
  			select * from mydb.client_Counsel where info = 1 order by client_Counsel.index DESC
  		</select>
  		
  		<!-- 날짜를 통한 검색시 게시글 조회 -->
  		<select id = "sac_writeGetCount" resultType="int" >
  			<![CDATA[ 
  			select count(*) from mydb.client_Counsel WHERE calendar >= #{sDate} AND calendar <= #{eDate}
  			]]> 
  		</select>
  		
  		<select id="sac_writeList" parameterType="hashmap" resultMap="C_CsVo">
  			<![CDATA[ 
  			select * from mydb.client_Counsel WHERE calendar >= #{sDate} AND calendar <= #{eDate} order by client_Counsel.index DESC limit #{coffset}, #{cnoOfRecords}
  			]]> 
  		</select>
  		
  		<select id ="sac_writeInfoList" resultMap = "C_CsVo">
  			<![CDATA[ 
  			select * from mydb.client_Counsel where info = 1 order by client_Counsel.index DESC
  			]]> 
  		</select>
  		<!-- 날짜를 통한 검색시 게시글 조회 -->
  		
  		<select id="areserveselectAll" resultType="com.bit.yes.model.entity.branch_infoVo" >
  			SELECT * FROM mydb.branch_info WHERE id = ANY(SELECT branchID FROM mydb.reserve_list WHERE clientID = #{id})
  		</select>
  		
  		<select id="areserveOne" resultType="com.bit.yes.model.entity.branch_infoVo" parameterType="java.lang.String">
  			select * from mydb.branch_info where id = #{id}
  		</select>
	
	<select id="as_selectOne" resultType="com.bit.yes.model.entity.S_CsVo">
  			SELECT * FROM branch_Counsel WHERE branch_Counsel.INDEX = #{index}
  	</select>
  	
  	<select id="as_selectnickname" resultType="com.bit.yes.model.entity.UserVo">
  			SELECT * FROM user_info where id = #{id} 
  	</select>
  	
  	<update id="asupdateOne" parameterType="com.bit.yes.model.entity.S_CsVo">
  			UPDATE branch_counsel SET COMMENT = #{comment} WHERE branch_counsel.index = #{index}
  	</update>
  	<!-- 페이징 처리 -->
  	<!-- 전체 레코드 개수 조회 -->
	  	<select id ="as_writeGetCount" resultType="int">
	  		select count(*) from mydb.branch_Counsel
	  	</select>
	<!-- 게시글 조회를 위한 쿼리 (값을 받아와서 해당 하단 페이지 버튼의 레코드 출력) -->  	
  		<select id="as_writeList" parameterType="hashmap" resultMap="S_CsVo">
  			select * from mydb.branch_Counsel order by branch_Counsel.index DESC limit #{soffset}, #{snoOfRecords}
  		</select>
  		
  		<select id ="as_writeInfoList" resultMap = "S_CsVo">
  			select * from mydb.branch_Counsel where info = 1 order by branch_Counsel.index DESC
  		</select>
  	<!-- 날짜를 통한 검색시 게시글 조회 -->
  		<select id = "sas_writeGetCount" resultType="int" >
  			<![CDATA[ 
  			select count(*) from mydb.branch_Counsel WHERE calendar >= #{sDate} AND calendar <= #{eDate}
  			]]> 
  		</select>
  		
  		<select id="sas_writeList" parameterType="hashmap" resultMap="S_CsVo">
  			<![CDATA[ 
  			select * from mydb.branch_Counsel WHERE calendar >= #{sDate} AND calendar <= #{eDate} order by branch_Counsel.index DESC limit #{soffset}, #{snoOfRecords}
  			]]> 
  		</select>
  		
  		<select id ="sas_writeInfoList" resultMap = "S_CsVo">
  			<![CDATA[ 
  			select * from mydb.branch_Counsel where info = 1 order by branch_Counsel.index DESC
  			]]> 
  		</select>
  		<!-- 날짜를 통한 검색시 게시글 조회 -->	
  		
  		
  		<!-- 파일 이미지 업로드 처리 -->
  		<insert id="noticeImgUpload" parameterType="com.bit.yes.model.entity.ImageVo">
		  	insert into notice_images values ((select max((mydb.notice.index)) from mydb.notice), #{imageName})
		  </insert>
		<select id="noticeSubImage" resultType="com.bit.yes.model.entity.ImageVo">
		  	select * from mydb.notice_images where notice_images.index = #{index}
		</select>

  		<!-- 파일 이미지 업로드 처리 -->
  		<insert id="c_counselImgUpload" parameterType="com.bit.yes.model.entity.ImageVo">
		  	insert into c_counsel_images values ((select max((mydb.c_counsel.index)) from mydb.c_counsel), #{imageName})
		  </insert>
		<select id="c_counselSubImage" resultType="com.bit.yes.model.entity.ImageVo">
		  	select * from mydb.c_counsel_images where c_counsel_images.index = #{index}
		</select>
  		
  			
  </mapper>
